@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply underline leading-none underline-offset-2 transition-all duration-150 ease-in-out;
  }
  a:hover {
    @apply !bg-gruvboxDark-fg !text-gruvboxDark-bg !decoration-gruvboxDark-fg;
  }
  a.exception {
    @apply leading-none underline-offset-2 transition-all duration-150 ease-in-out;
  }
  a.exception:hover {
    @apply bg-transparent text-gruvboxDark-fg decoration-gruvboxDark-fg;
  }

  div.project {
    @apply flex flex-col md:items-center md:flex-row gap-4 bg-gruvboxDark-bgH hover:bg-gruvboxDark-bgH/70 p-4 border border-gruvboxDark-bg4;
  }
  div.project img {
    @apply h-full md:max-h-32;
  }
  div.project div.text {
    @apply flex flex-col gap-2 text-gruvboxDark-fg0 h-full;
  }

  div.blogpost {
    @apply py-2 px-4 border-l border-gruvboxDark-bg4 hover:bg-gruvboxDark-bgH/20 prose prose-invert;
  }
  div.blogpost h3 {
    @apply !mt-0;
  }
}
